.post-card {
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 1rem;
}

.post-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}