.posts-feed {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5vh 5vw 20vh 20vw;
    overflow: auto;
    background-color: #a2c8ee;
}


@media screen and (max-width: 576px) {
    .posts-feed {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .posts-feed {
        grid-template-columns: 1fr 1fr 1fr;
    }
}