.home-page {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #a2c8ee;
}

.error-message {
    margin-top: 20vh;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.error-message img {
    margin: auto;
    width: 5rem;
}

.error-message h2, p {
    text-align: center;
}

.error-message h2 {
    font-size: 3rem;
    color: #8b0000;
}

@media screen and (max-width: 576px) {
    .home-page {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1200px) {
    .home-page {
        grid-template-columns: 1fr 1fr 1fr;
    }
}