.home-page {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #a2c8ee;
}

@media screen and (max-width: 576px) {
    .home-page {
        grid-template-columns: 1fr;
    }
}